<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Deadspin Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a id="clear-articles" class="waves-effect waves-light btn">Clear Articles</a></li>
            <li><a id="scrape-articles" class="btn btn-warning">Scrape New Articles!</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Deadspin Scraper:</h1>
        <h1>Sports News Without Access, Favor or Discretion</h1>
    </div>
</div>
<div class="container-fluid article-container">
    <div class=row>
        <div class="col-12">
            {{#if articles}}
            {{#each articles}}
            <div class="card w-90">
                <div class="card-header text-white bg-primary">
                    <a href={{link}} target="_blank" class="text-white">
                        <h2>{{title}}</h2>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{summary}}
                    </p>
                    <button id="{{_id}}" id="save-btn" class="btn btn-primary save-btn">Save Article</button>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="card text-white bg-warning w-90 p-1">
                <div class="card-body text-center">
                    There are no new articles.
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
</div>

<footer class="footer">
    <div class="container">
        <p>Deadspin Scraper</p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/app.js"></script>

