<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Deadspin Scraper</a>
        </div>
        
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="active"><a href="/saved">Saved Articles</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Deadspin</h1>
        <h1>Saved Articles</h1>
    </div>
</div>
<div class="container-fluid article-container">
    <div class="row">
        <div id="note-form"></div>
        <div class="col-12">
            {{#each articles}}
            <div class="card w-90">
                <div class="card-header text-white ">
                    <a href={{link}} target="_blank" class="text-white">
                        <h2>{{title}}</h2>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{summary}}
                    </p>
                    <button data="{{_id}}" class="btn  note-btn">Article Notes</button>
                    <button data="{{_id}}" class="btn  delete-btn">Delete From Saved</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <p>Deadspin Scraper</p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="./assets/app.js"></script>